<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="no"/>
    <meta name="author" content="hanyu"/>

    <title>TastyHouse MainMenu</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet"/>


</head>
<!---->
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Tasty House</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/loginAdmin">login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <h1 class="my-4 text-center text-lg-left">MENU</h1>

    <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100 con">
                <img class="img-fluid img-thumbnail image" src="https://cat.iyeku.com/img/portfolio/01-small.jpg"
                     alt=""/>
                <div class="middle">
                    <div class="text">前菜</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100 con">
                <img class="img-fluid img-thumbnail image" src="https://cat.iyeku.com/img/portfolio/02-small.jpg"
                     alt=""/>
                <div class="middle">
                    <div class="text">点心</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100 con">
                <img class="img-fluid img-thumbnail image" src="https://cat.iyeku.com/img/portfolio/03-small.jpg"
                     alt=""/>
                <div class="middle">
                    <div class="text">面食</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100 con">
                <img class="img-fluid img-thumbnail image" src="https://cat.iyeku.com/img/portfolio/04-small.jpg"
                     alt=""/>
                <div class="middle">
                    <div class="text">米饭</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100 con">
                <img class="img-fluid img-thumbnail image" src="https://cat.iyeku.com/img/portfolio/05-small.jpg"
                     alt=""/>
                <div class="middle">
                    <div class="text">饮品</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100 con">
                <img class="img-fluid img-thumbnail image" src="https://cat.iyeku.com/img/portfolio/06-small.jpg"
                     alt=""/>
                <div class="middle">
                    <div class="text">海鲜</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100 con">
                <img class="img-fluid img-thumbnail image" src="https://cat.iyeku.com/img/portfolio/07-small.jpg"
                     alt=""/>
                <div class="middle">
                    <div class="text">猪肉</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100 con">
                <img class="img-fluid img-thumbnail image" src="https://cat.iyeku.com/img/portfolio/08-small.jpg"
                     alt=""/>
                <div class="middle">
                    <div class="text">素食</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100 con">
                <img class="img-fluid img-thumbnail image" src="https://cat.iyeku.com/img/portfolio/09-small.jpg"
                     alt=""/>
                <div class="middle">
                    <div class="text">牛肉</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100 con">
                <img class="img-fluid img-thumbnail image" src="https://cat.iyeku.com/img/portfolio/10-small.jpg"
                     alt=""/>
                <div class="middle">
                    <div class="text">羊肉</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100 con">
                <img class="img-fluid img-thumbnail image" src="https://cat.iyeku.com/img/portfolio/11-small.jpg"
                     alt=""/>
                <div class="middle">
                    <div class="text">特制</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100 con">
                <img class="img-fluid img-thumbnail image" src="https://cat.iyeku.com/img/portfolio/12-small.jpg"
                     alt=""/>
                <div class="middle">
                    <div class="text">鸡肉</div>
                </div>
            </a>
        </div>
    </div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>

    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js" type="text/javascript"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>

</body>
</html>